#!/usr/bin/env.bash

# Exports
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow --glob "!.git/*"'

# GOLANG
export GOROOT=/usr/local/go
export GOPATH=$HOME/projects/go
export PATH=$GOPATH/bin:$GOROOT/bin:$PATH

