[user]
	email = keevan.pham@gmail.com
	name = {{ .name }}

[includeIf "gitdir:~/apps/"]
	path = .gitconfig.work

[push]
	recurseSubmodules = check

[alias]
	s=status
	b=branch
	out=log origin/master.. --pretty='format:%C(auto)%h %<(72,trunc)%s | %ar'
	in=!git fetch && git log ..origin/master --pretty='format:%C(auto)%h [%<(7,trunc)%cn] %<(72,trunc)%s | %ar'
	outs=!git out --stat
	ins=!git in --stat
	out-summary=log origin/master.. --pretty='format:  %<(72,trunc)%s'
	co=checkout
	uncommit=reset HEAD^
	rename=branch -m
	cp=cherry-pick
	pushh=!git push --set-upstream origin $(git branch --show-current)
